*~
*.o
.deps/
aclocal.m4
autom4te.cache/
config.status
config.h
config.h.in
config.sub
config.log
config.guess
compile
depcomp
stamp-h1
esocks*
missing
install-sh
INSTALL
Makefile
Makefile.in
configure
testapp